<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="YoutubeTests">


    <test name="likeVideo">

        <classes>
            <class name="LikeVideoTest"/>
        </classes>
    </test>
    
    <test name="subscribeChannel">

        <classes>
            <class name="SubscribeTest"/>
        </classes>
    </test>

    <test name="addVideo">
        <classes>
            <class name="AddVideoTest"></class>
        </classes>
    </test>

</suite>
